.html {
    font-family:Arial, Helvetica, sans-serif ;
}
body {
    padding:0px;
    margin:0px;
}
.container {
    max-width:1000px;
    margin:0 auto;
}
.container > header{
    background-image: url("../images/logo.png");
    background-size:100% 100%;
    height:0px;
    padding-bottom:25%;
}
.container > nav{
    line-height:40px;
    background-color:rgb(255, 255, 255);
    text-align:left;
    font-variant:small-caps;
    position: relative;
}
.container > article{
    min-height:400px;
    width:75%;
    float:left;
}
.container > nav > a{
    color:rgb(0, 0, 0);
    text-decoration:none;
    margin:0 10px;
    font-size: 15px;
}
.container > nav > a:hover{
    color:rgb(230, 46, 46);
    text-decoration:underline;
}

.container{
    Position:relative;
}
.top-right{
    Position:absolute;
    Top:0px;
    Right:0px;
    Border-bottom-left-radius: 30px;
    background-color: rgb(230, 46, 46);
    height: 30px;
    width: 300px;
    text-align-last: center;
    box-shadow: 0 0 20px white;
    line-height: 25px;
}
.top-right a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.top-right >a:hover{
    color: rgb(0, 0, 0);
}
.language{
    display: inline-block;
    position: absolute;
    right: 0;
    
}
.language > a:hover{
    color:rgb(230, 46, 46);
    text-decoration:underline;
}
header>div>a:hover{
    color:rgb(0, 0, 0);
    text-decoration:underline;
    text-decoration:none;
}
nav ul>li:hover>a{
    color: white !important;
}
nav ul>li:hover {
    background-color: rgb(0, 0, 0);
}
nav{
    display: block;
}
.dangnhap > a:hover{
    color: black;
}
.dangnhap > a{
    text-decoration: dashed;
    color: white;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background: rgb(243, 49, 49);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}