body{
	font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}
.wrap{
	width:1000px;
	margin:0 auto;
}
.logo{
	width:430px;
	position:absolute;
	top:25%;
	left:35%;
}
p a{
	color:rgb(0, 0, 0);
	font-size:13px;
	margin-left:30px;
	padding:5px;
	background:#fff9f9;
	text-decoration:none;
	-webkit-border-radius:.3em;
	   -moz-border-radius:.3em;
	        border-radius:.3em;
}
p a:hover{
	color: rgb(255, 41, 41);
}
.footer{
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:12px;
	color:rgb(255, 255, 255);
}
.footer a{
	color:rgb(255, 255, 255);
	text-decoration:none;
}